<mat-form-field class="full-width">
    <mat-label>{{ label }}</mat-label>
    <mat-chip-grid #chipGrid>
      @for(chip of chips; track $index) {
      <mat-chip-row [removable]="true" (removed)="onRemove($index)">
        {{ chip }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </mat-chip-grid>
    <input #input type="text" [placeholder]="placeholder" [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (input)="onFilterOptions($event)"
      (keydown.enter)="onAddFirstFilteredOption($event)" (keydown.backspace)="onHandleKeyDown($event, input)" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)" [autoActiveFirstOption]="true">
      @if(filteredOptions.length > 0) {
      @for(option of filteredOptions; track $index) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
      }
      @else {
      <mat-option disabled>No data found</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>